:root {
  --color-bg-primary: #1b1b1f;
  --color-bg-secondary: #161618;
  --color-text-primary: rgba(255, 255, 245, 0.86);
  --color-text-secondary: rgba(235, 235, 245, 0.6);
  --color-highlight-primary: #9ecbff;
  --color-highlight-secondary: #b392f0;
  --color-border: #2e2e32;
  --box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  font-family: cursive;
}
